.password {
    outline: none;
    caret-color: #00be78;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    width: 70px;
    border-radius: 12px;
    border: 2px solid transparent;
    background-color: rgba(0, 0, 0, 0.05);
    color: #000;
    font-family: 'open-sans', sans-serif;
    transition: border-color 0.15s ease;
}

.password:focus {
    border-color: #00be78;
}

.password.error {
    color: #f0231e !important;
    border-color: #f0231e !important;
}
