.key-manage .password {
    height: 72px !important;
    /* width: 52px !important; */
    display: flex;
    flex: 1;
    flex-direction: row;
}
.key-manage .password::after {
    line-height: 85px !important;
}
.export-password .password {
    height: 55.3px !important;
    width: 52px !important;
    background: #fff;
}

.import-password .password {
    height: 55.3px !important;
    width: 52px !important;
    background: rgba(0, 0, 0, 0.05);
}

.key-manage-password .password::after {
    line-height: 63.3px !important;
}

.key-manage-password .password:focus .password-caret {
    width: 3.16px !important;
    height: 30.38px !important;
}
